@media screen and (min-width: 1200px) {
   #hidden-box {
      display: block;
   }
}

#hero div {
    padding: 40px;
}

#contents div {
    padding: 50px;
}

#footer div {
    padding: 30x;
} 

/* 

Mobile Rules


Tablet Media Query Rules


Desktop Media Query Rules

*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    margin-top: 34px;
}

nav ul li:hover {
    font-size: 20px;
    font-weight: bold;
    transition: .3s ease-in-out;
}

#burger {
    width: 34px;
    /* margin-left: auto; */
    justify-self: end;
}

#burger-menu {
    display: none;
}

#burger-menu {
    padding: 0;
    list-style-type: none;
}

#burger-menu li a {
    text-decoration: none;
    color: #8a00d4;
}

#hero {
    /* background: url("../images/Swerve_Can_Watermelon.jpg"); */
    background-repeat: no-repeat;
    height: 620px;
    /* background-position-x: 40%;
    background-position-y: 40%; */
    margin-top: 20px;
}

#hero img {
    grid-row: 1/2;
    /* height: 100%; */
    object-fit: cover;
    border-radius: 10px;
}

#hero h2 {
    padding-top: 20px;
    padding-left: 12px;
    text-align: left;
    color: #ff8250;
    text-shadow: 20px;
    grid-row: 1/2;
}

#hero a {
    background-color: #f9f9c596; 
    border: solid #fdfa66 5px;
    border-radius: 10px;
    display: flex;
    padding: 12px;
    align-items: center;
    height: 100px;
    justify-content: center;
    color: #f92b6c;
    text-decoration: none;
    grid-row: 1/2;
}

.flavour {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* gap: 2rem; */
    margin-bottom: 15px;
    padding-bottom: 30px;
}

.flavour img {
    object-fit: cover;
    border-radius: 20px 2px;
}

.sub-header {
    text-align: center;
    padding: 50px;
}

#promo-edition img {
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    nav {
        order: 2;
    }

    #burger {
        display: none;
    }

    #burger-menu {
        display: flex;
        justify-content: space-evenly;
    }

    #hero {
    height: 620px;
    }
}


/* About Us Section */
.about-swerve {
    display: block;
    margin-top: 70px;
    margin-bottom: 50px;
    border-bottom: 4px solid #f92b6c;
}

#about-us h2 {
    padding-bottom: 20px;
}

#about-us {
    text-align: center;
}

#about-us p {
    padding: 20px;
}

#know-more-btn button {
    padding: 20px;
    margin: 20px;
    border: solid 4px #ff8250;
    border-radius: 5px;
    background-color: white;
}

#know-more-btn button:hover {
    color: white;
    background-color: #8a00d4b0;
    border: solid 4px #f92b6c;
    border-radius: 30px;
    transition: .6s ease-in-out;
}

#patron-prof div {
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.beloved-patrons {
    display: block;
    margin-top: 70px;
    margin-bottom: 50px;
    border-bottom: 4px solid #fdfa66;
}

#patron-prof h2 {
    text-align: center;
    padding-bottom: 20px;
}

#footer nav ul {
    list-style: none;
    padding: 10px;
    margin: 10px;
    justify-items: left;
}

#footer nav ul li {
    padding-bottom: 15px;
}

#footer nav ul li a {
    text-decoration: none;
    list-style-type: none;
    color: white;
}

#footer nav ul li a:hover {
    text-decoration: none;
    color: #ff8250;
    font-size: 20px;
    transition: .3s ease-in-out;
    font-weight: bold;
}

/* .footer-inner { 
    display: contents; 
} 

.footer-right {
    display: flex; 
    flex-direction: column; 
    align-items: flex-end;
    gap: 20px;
} 
    
.footer-logo { 
    width: 120px; 
} */