#mobile-outline {
   outline: 20px solid #333;
   max-width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
} 

@media screen and (min-width: 1200px) {
   #hidden-box {
      display: block;
   }
}

#hero div {
    padding: 40px;
}

#contents div {
    padding: 50px;
}

#footer div {
    padding: 60px;
} 

/* 

Mobile Rules


Tablet Media Query Rules


Desktop Media Query Rules

*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    margin-top: 34px;
}

#burger {
    width: 34px;
    /* margin-left: auto; */
    justify-self: end;
}

#burger-menu {
    display: none;
}

#burger-menu {
    padding: 0;
    list-style-type: none;
}

#burger-menu li a {
    text-decoration: none;
    color: #8a00d4;
}

#hero {
    /* background: url("../images/Swerve_Can_Watermelon.jpg"); */
    background-repeat: no-repeat;
    height: 620px;
    /* background-position-x: 40%;
    background-position-y: 40%; */
    margin-top: 20px;
}

#hero img {
    grid-row: 1/2;
    /* height: 100%; */
    object-fit: cover;
    border-radius: 10px;
}

#hero h2 {
    padding-top: 20px;
    padding-left: 12px;
    text-align: left;
    color: #ff8250;
    text-shadow: 20px;
    grid-row: 1/2;
}

#hero a {
    background-color: #f9f9c596; 
    border: solid #fdfa66 5px;
    border-radius: 10px;
    display: flex;
    padding: 12px;
    align-items: center;
    height: 100px;
    justify-content: center;
    color: #f92b6c;
    text-decoration: none;
    grid-row: 1/2;
}

.flavour {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-bottom: 15px;
    padding-bottom: 57px;
}

.flavour img {
    object-fit: cover;
    border-radius: 20px 2px;
}

.sub-header {
    text-align: center;
    padding: 50px;
}

#promo-edition img {
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    nav {
        order: 2;
    }

    #burger {
        display: none;
    }

    #burger-menu {
        display: flex;
        justify-content: space-evenly;
    }

    #hero {
    height: 620px;
    }

}